@import "variables";

.hero-section {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-left: 40px;
  margin: 0;

  .headline {
    color: $color-primary !important;
  }
}

.button-controls {
  display: flex;
  flex-direction: row;
  gap: 4px;

  .btn-service {
    background-color: $color-primary;
    color: $color-white;
    border-radius: 2rem;
    font-size: 12px;
    font-family: $fira-font-family;
    text-align: center;
    height: fit-content;
    width: 150px;
  }

  .btn-service:hover {
    background-color: $color-secondary;
  }

  .btn-contact {
    background-color: $color-secondary;
    border: none;
    color: $color-white;
    border-radius: 2rem;
    font-size: 12px;
    font-family: $fira-font-family;
    text-align: center;
    height: fit-content;
    width: 150px;
  }

  .btn-contact:hover {
    background-image: $color-gradient;
  }
}

.home-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .head-section {
    display: flex;
    flex-direction: coulumn;
    background-image: url("../images/home-banner-mobile.png");
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .head-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .head-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: none;
  }
}
